.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-green);
  color: var(--primary-green);
  padding: 18px 12px;
  font-size: 14px;
  flex-wrap: wrap; 
  border-top: 1px solid rgba(46, 125, 50, 0.2);
}

.footer-item {
  margin: 6px 12px;
  text-align: center;
}

/* Mobile view */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
